.venv/
venv/

__pycache__/
*.py[cod]

build/
dist/
release/
*.spec
*.exe

*.log
move_history.json
duplicates_report.csv

main_backup.py
organizer_backup.py
config_backup.py

.vscode/
.idea/
.DS_Store
